[submodule "00_literature/ls_mapping"]
	path = 00_literature/ls_mapping
	url = https://git.uibk.ac.at/c7161037/ls_mapping.git
[submodule "00_literature/ae_training"]
	path = 00_literature/ae_training
	url = https://git.uibk.ac.at/c7161037/ae_training.git
[submodule "00_literature/traceve_pretraining"]
	path = 00_literature/traceve_pretraining
	url = https://git.uibk.ac.at/c7161037/traceve_pretraining.git
[submodule "00_literature/sattstools"]
	path = 00_literature/sattstools
	url = https://git.uibk.ac.at/rslab/sattstools.git
